<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- bootstrap link -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title th:text="#{list.title}"/>
</head>
<body>

<div class="container">
    <h1 th:text="#{list.title}"/>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th th:text="#{name}"/>
            <th th:text="#{surname}"/>
            <th th:text="#{email}"/>
            <th th:text="#{operations}"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${osoby}">
            <td th:text="${o.jmeno}"></td>
            <td th:text="${o.prijmeni}"></td>
            <td th:text="${o.email}"></td>
            <td>
                <a th:href="@{/osoba/{id}/edit(id=${o.id})}" class="btn btn-primary">E</a>
                <a th:href="@{/osoba/delete(id=${o.id})}" class="btn btn-danger">X</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/osoba/add}" class="btn btn-success" th:text="#{add}"/>
    <div class="alert alert-primary">
        <span th:text="${time}"/>
    </div>
</div>
</body>
</html>